<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li><a href="">사업개요</a></li>
          <li><a href="">세계동향</a></li>
          <li class="active"><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- Board { -->
  <div class="board_section">
    <div class="wrapper">
      <!-- 텍스트 게시판 { -->
      <div class="board">
        <div class="board_top">
          <div class="board_cnt_wrap">
            <p class="board_cnt">총 <span>100</span></p>
          </div>
          <div class="board_srch_wrap">
            <form action="">
              <div class="board_srch_bar">
                <select name="" id="">
                  <option value="">전체</option>
                  <option value="">제목</option>
                  <option value="">담당부서</option>
                </select>
                <div class="board_srch_input_wrap">
                  <input type="text" placeholder="내용을 입력하세요.">
                  <button type="submit"><img src="/source/img/icon-srch.png" alt="검색하기"></button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="board_contents">
          <div class="list">
            <!-- List Head { -->
            <div class="list_head">
              <div class="th td_num">번호</div>
              <div class="th td_subj">제목</div>
              <div class="th td_depart">담당부서</div>
              <div class="th td_hits">조회</div>
              <div class="th td_file">첨부</div>
            </div>
            <!-- } List Head -->
            <!-- List Body { -->
            <div class="list_body">
              <!-- loop { -->
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <!-- 첨부 파일이 있을 떄 { -->
                  <div class="icon td_file_icon">
                    <img src="/source/img/icon-file.png" alt="첨부파일 있음">
                  </div>
                  <!-- } 첨부 파일이 있을 떄 -->
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <!-- } loop -->
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <!-- 첨부 파일이 있을 떄 { -->
                  <div class="icon td_file_icon">
                    <img src="/source/img/icon-file.png" alt="첨부파일 있음">
                  </div>
                  <!-- } 첨부 파일이 있을 떄 -->
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
              <a href="" class="list_body_item">
                <div class="td td_num">99</div>
                <div class="td td_subj">
                  <p class="td_date">2019.02.11</p>
                  <p class="td_title text_row1">게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다. 게시판 타이틀 영역입니다.</p>
                </div>
                <div class="td td_depart">탄소중립경제과</div>
                <div class="td td_hits">40</div>
                <div class="td td_file">
                  <div class="icon td_baro_icon">
                    <img src="/source/img/icon-baro.png" alt="바로가기">
                  </div>
                </div>
              </a>
            </div>
            <!-- } List Body  -->
          </div>
          <div class="pagination">
            <ul class="pagi_ul">
              <li><a href="" class="pg_prev"><img src="/source/img/pg-prev.png" alt="이전 페이지"></a></li>
              <li><a href="" class="pg_btn active">01</a></li>
              <li><a href="" class="pg_btn">02</a></li>
              <li><a href="" class="pg_btn">03</a></li>
              <li><a href="" class="pg_btn">04</a></li>
              <li><a href="" class="pg_btn">05</a></li>
              <li><a href="" class="pg_next"><img src="/source/img/pg-next.png" alt="다음 페이지"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- } 텍스트 게시판 -->
    </div>
  </div>
  <!-- } Board -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>