<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li class="active"><a href="/views/overview01.html">사업개요</a></li>
          <li><a href="/views/worldTrend01.html">세계동향</a></li>
          <li><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- 사업개요 - 과제 및 사업내용 { -->
  <div class="overview02">

    <div class="overview_section">
      <div class="wrapper">
        <div class="common_text_box">
          <p class="common_title">사업개요</p>
          <ul class="i-col-0 pg_sub_tab">
            <li><a href="/views/overview01.html">배경 및 목적</a></li>
            <li class="active"><a href="/views/overview02.html">과제 및 사업내용</a></li>
            <li><a href="/views/overview03.html">비전 및 체계</a></li>
            <li><a href="/views/overview04.html">과정 및 추진경과</a></li>
          </ul>
        </div>
        <div class="overview02_01_wrap">
          <div class="overview02_01_col blue">
            <p class="overview02_01_col_title">5대분야</p>
            <ul class="overview02_01_col_ul01">
              <li class="color01 color_line01">
                <div class="inner" data-num="01">
                  <div class="icon">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    미래경제<br>
                    <span>(저탄소 新산업)</span>
                  </div>
                </div>
              </li>
              <li class="color02 color_line02">
                <div class="inner" data-num="02">
                  <div class="icon">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    전환경제<br>
                    <span>(에너지 전환)</span>
                  </div>
                </div>
              </li>
              <li class="color03 color_line03">
                <div class="inner" data-num="03">
                  <div class="icon">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    순환경제<br>
                    <span>(산업구조 저탄소화)</span>
                  </div>
                </div>
              </li>
              <li class="color04 color_line04">
                <div class="inner" data-num="04">
                  <div class="icon">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    생활경제<br>
                    <span>(도민 탄소중립 확산)</span>
                  </div>
                </div>
              </li>
              <li class="color05 color_line05">
                <div class="inner" data-num="05">
                  <div class="icon">
                    <img src="" alt="">
                  </div>
                  <div class="text">
                    탄소중립<br>
                    국가허브
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="overview02_01_col pink">
            <p class="overview02_01_col_title">10대 정책과제</p>
            <ul class="overview02_01_col_ul02">
              <li class="color_line01">
                <div class="inner">
                  <div class="text_box">
                    <p class="title">01. 수소 패권∙기술혁신</p>
                    <p class="text">글로벌 수소 혁신생태계 구축</p>
                  </div>
                  <div class="text_box">
                    <p class="title">02. 미래 원천</p>
                    <p class="text">고탄소 산업의 저탄소 대전환</p>
                  </div>
                </div>
              </li>
              <li class="color_line02">
                <div class="inner">
                  <div class="text_box">
                    <p class="title">03. 석탄발전 청정전환</p>
                    <p class="text">탈석탄 전환체계 구축</p>
                  </div>
                  <div class="text_box">
                    <p class="title">04. 저탄소 생활기반</p>
                    <p class="text">저탄소 인프라 선제적 보급</p>
                  </div>
                </div>
              </li>
              <li class="color_line03">
                <div class="inner">
                  <div class="text_box">
                    <p class="title">05. 탄소순환</p>
                    <p class="text">충남형 탄소순환 생태계 조성</p>
                  </div>
                  <div class="text_box">
                    <p class="title">06. 자원순환</p>
                    <p class="text">농어촌 그린투게더</p>
                  </div>
                </div>
              </li>
              <li class="color_line04">
                <div class="inner">
                  <div class="text_box">
                    <p class="title">07. 녹색도시</p>
                    <p class="text">탄소중립경제 플래그십 조성</p>
                  </div>
                  <div class="text_box">
                    <p class="title">08. 녹색일자리∙공동체</p>
                    <p class="text">그린창업∙공동체 활성화 프로젝트</p>
                  </div>
                </div>
              </li>
              <li class="color_line05">
                <div class="inner">
                  <div class="text_box">
                    <p class="title">09. 이슈선도</p>
                    <p class="text">탄소중립경제 이니셔티브 선도</p>
                  </div>
                  <div class="text_box">
                    <p class="title">10. 글로벌 리더십</p>
                    <p class="text">탄소중립경제 글로벌 위상 강화</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="overview02_01_col green">
            <p class="overview02_01_col_title">70개 세부실천사업</p>
            <ul class="overview02_01_col_ul03">
              <li class="color_line01">
                <div class="inner">
                  <div class="col-4 text_list">
                    <div class="text_list_item">· 탄소순환형 산업단지 그린이노파크 조성</div>
                    <div class="text_list_item">· 국제수소항만 조성 및 선박산업 육성</div>
                    <div class="text_list_item">· 그린에너지 소·부·장 산업 육성</div>
                    <div class="text_list_item">· 고탄소산업 전환지원 프로젝트</div>
                  </div>
                </div>
              </li>
              <li class="color_line02">
                <div class="inner">
                  <div class="col-2 text_list">
                    <div class="text_list_item">· 서해안 글로벌 해상풍력 클러스터 조성</div>
                    <div class="text_list_item">· 탄소중립 에듀워크 체인 구축</div>
                  </div>
                </div>
              </li>
              <li class="color_line03">
                <div class="inner">
                  <div class="col-2 text_list">
                    <div class="text_list_item">· 충남형 블루카본 생태계 조성</div>
                    <div class="text_list_item">· 전기차 재사용∙재제조∙재활용 클러스터 조성</div>
                  </div>
                </div>
              </li>
              <li class="color_line04">
                <div class="inner">
                  <div class="col-4 text_list">
                    <div class="text_list_item">· 내포신도시 세계 탄소중립수도 조성</div>
                    <div class="text_list_item">· 탄소중립 교육허브, 그린에듀타운 조성</div>
                    <div class="text_list_item">· 기후테크 창업사관학교 조성</div>
                    <div class="text_list_item">· 충남형 기후행동, 그린동행</div>
                  </div>
                </div>
              </li>
              <li class="color_line04">
                <div class="inner">
                  <div class="col-4 text_list">
                    <div class="text_list_item">· 석탄화력 폐지지역 지원 특별법 제정</div>
                    <div class="text_list_item">· 충남탄소중립 특별자치도 지정 추진</div>
                    <div class="text_list_item">· 에너지∙환경∙해양 분야 수도권 공공기관 이전</div>
                    <div class="text_list_item">· 탄소중립 EXPO 기후산업국제박람회 유치</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- } 사업개요 - 과제 및 사업내용 -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>