<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li class="active"><a href="/views/overview01.html">사업개요</a></li>
          <li><a href="/views/worldTrend01.html">세계동향</a></li>
          <li><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- 사업개요 - 과정 및 추진경과 { -->
  <div class="overview04">

    <div class="overview_section">
      <div class="wrapper">
        <div class="common_text_box">
          <p class="common_title">사업개요</p>
          <ul class="i-col-0 pg_sub_tab">
            <li><a href="/views/overview01.html">배경 및 목적</a></li>
            <li><a href="/views/overview02.html">과제 및 사업내용</a></li>
            <li><a href="/views/overview03.html">비전 및 체계</a></li>
            <li class="active"><a href="/views/overview04.html">과정 및 추진경과</a></li>
          </ul>
          <div class="common_pg_title">
            탄소중립경제를 위한 힘쎈충남의<br>
            <span class="point_color">사업발굴 및 계획수립과정과 추진경과</span>를 소개합니다.
          </div>
        </div>
        <div class="overview04_01_wrap">
          <p class="bar_title black"><b>사업발굴 수립과정</b></p>
          <ul class="i-col-3 overview04_01_ul">
            <li>
              <div class="inner">
                <p class="level_title">1단계</p>
                <div class="expl_box">
                  <p class="text01">
                    多영역 전문가 참여를 통한 <br>
                    실효성 있는 新사업 발굴
                  </p>
                  <p class="text02">
                    대학, 국책연구원, 기업 등 <br>
                    전문가 제안을 통한 사업 발굴
                  </p>
                </div>
                <ul class="course_list level01">
                  <li>
                    <div class="inner">
                      <p class="title">기획위원회</p>
                      <p class="text">탄소중립경제 분야 설정 및 수립지침 마련</p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="level_title">2단계</p>
                <div class="expl_box">
                  <p class="text01">
                    실∙국 및 산하기관의 참여를 통한<br>
                    실효성 있는 사업 발굴 
                  </p>
                  <p class="text02">
                    ‘道 실국’, ‘道 산하기관’ <br>
                    (충남연구원, 충남테크노파크 등) 사업 발굴 
                  </p>
                </div>
                <ul class="course_list level02">
                  <li>
                    <div class="inner">
                      <p class="title">道 실국 및 산하기관</p>
                      <p class="text">부문별 사업발굴 및 조서 작성</p>
                    </div>
                  </li>
                  <li>
                    <div class="inner">
                      <p class="title">분야별 전문가</p>
                      <p class="text">대학, 국책 연구원, 기업 등 전문가 제안</p>
                    </div>
                  </li>
                  <li>
                    <div class="inner">
                      <p class="title">지역기업</p>
                      <p class="text">기업수요에 대응하기 위한 사업 발굴</p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="level_title">3단계</p>
                <div class="expl_box">
                  <p class="text01">
                    기업의 수요에 대응할 수 있는 <br>
                    맞춤형 사업 발굴
                  </p>
                  <p class="text02">
                    발전사(중부, 서부) 및 <br>
                    대∙중소기업 등 기업수요 발굴 
                  </p>
                </div>
                <ul class="course_list level03">
                  <li>
                    <div class="inner">
                      <p class="title">기획위원회</p>
                      <p class="text">도출된 사업에 대한 심층 논의</p>
                    </div>
                  </li>
                  <li>
                    <div class="inner">
                      <p class="title">부문별 전문가 검토</p>
                      <p class="text">부문별 전문가 검토 회의를 통해 사업 고도화</p>
                    </div>
                  </li>
                  <li>
                    <div class="inner">
                      <p class="title">道 지휘부회의</p>
                      <p class="text">제안 사업에 대한 심층 논의</p>
                    </div>
                  </li>
                </ul>
                <div class="last_box">
                  사업계획 반영
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="overview_section overview04_bg">
      <div class="wrapper">
        <div class="overview04_02_wrap">
          <p class="bar_title"><b>추진경과</b></p>
          <div class="overview04_02_box">
            <ul class="i-col-0 match-height overview04_02_ul">
              <li>
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2022.11</span></p>
                    <div class="content">
                      <p class="content_item">· 기획위원회 1, 2차</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2022.12</span></p>
                    <div class="content">
                      <p class="content_item">· 자문회의(2회)</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.01.02</span></p>
                    <div class="content">
                      <p class="content_item">· 과업 개시</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.01.18</span></p>
                    <div class="content">
                      <p class="content_item">· 착수 보고회 개최</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color02">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.04</span></p>
                    <div class="content">
                      <p class="content_item">· 기획위원회(5차)</p>
                      <p class="content_item">· 국민통합위원회 발표</p>
                      <p class="content_item">· 자문회의(2회)</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color02">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.03</span></p>
                    <div class="content">
                      <p class="content_item">· 기획위원회(4차)</p>
                      <p class="content_item">· 설문조사 실시</p>
                      <p class="content_item">· 자문회의(2회)</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color02">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.02</span></p>
                    <div class="content">
                      <p class="content_item">· 세부 사업 발굴 </p>
                      <p class="content_item">· 자문회의(2회)</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color02">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.02.10</span></p>
                    <div class="content">
                      <p class="content_item">· 기획위원회(3차)</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color03">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.05</span></p>
                    <div class="content">
                      <p class="content_item">· 도지사님 보고(5.9)</p>
                      <p class="content_item">
                        · 중간보고회(5.16)<br>
                        (에너지위원회)
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color03">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.06</span></p>
                    <div class="content">
                      <p class="content_item">· 실과 사업검토</p>
                      <p class="content_item">· 우선순위도출 설문조사</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="color03">
                <div class="inner">
                  <div class="inner_box">
                    <p class="year"><span>2023.07</span></p>
                    <div class="content">
                      <p class="content_item">· 최종보고회</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- } 사업개요 - 과정 및 추진경과 -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>