<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li><a href="/views/overview01.html">사업개요</a></li>
          <li class="active"><a href="/views/worldTrend01.html">세계동향</a></li>
          <li><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- 세계동향 - 동향안내 { -->
  <div class="worldTrend01">

    <div class="world_section">
      <div class="wrapper">
        <div class="common_text_box">
          <p class="common_title">세계동향</p>
          <ul class="i-col-0 pg_sub_tab">
            <li><a href="/views/worldTrend01.html">동향안내</a></li>
            <li><a href="/views/worldTrend02.html">탈석탄발전</a></li>
            <li class="active"><a href="/views/worldTrend03.html">수소∙해상풍력</a></li>
            <li><a href="/views/worldTrend04.html">스마트팜</a></li>
          </ul>
          <div class="common_pg_title world01_title uk">
            부분별 지역전환 사례<br>
            <span class="point_color">수소∙해상풍력(영국)</span>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section flag_section uk">
      <div class="wrapper">
        <div class="world01_01_wrap">
          <div class="world_bs-flag">
            <img src="/source/img/flag-uk.jpg" alt="영국 국기">
          </div>
          <p class="world_bs-tit">영국 Humber 산업클러스터</p>
          <div class="world_bs-detail">
            <div class="world_bs-txtBox">
              <div class="world_bs-txtInner">
                <p class="world_bs-t0">지역특징</p>
                <ul class="world_bs-t-ul">
                  <li class="world_bs-t2 white">과거 석탄업 중심지였던 험버 지역은 석탄업의 쇠퇴로 어려움을 겪었으나 해상풍력 인프라가 구축되면서 지역경제 활성화와 인구증가</li>
                  <li class="world_bs-t2 white">해양 경제와 사회문화의 조화를 이룬 도시로 평가되며 2013년 이후 재생에너지 부문을 비롯해 의료보건, 통신, 항만, 관광 등의 분야에서 6,000개가 넘는 일자리 창출 및 30억 파운드가 넘는 투자 유치 </li>
                </ul>
              </div>
            </div>
            <div class="world_bs-txtBox white">
              <div class="world_bs-txtInner">
                <ul class="t-ul">
                  <li class="world_bs-t1">영국의 Humber 산업단지는 온실가스 제로지역을 만들기 위한 ‘제로탄소험버(Zero Carbon Humber)’ 프로젝트 진행</li>
                  <li class="world_bs-t1">2050년까지 세계 최초의 탄소배출 제로 산업 클러스터 조성 예정</li>
                  <li class="world_bs-t1">수소생산 시설을 건설하여, 시설에서 배출되는 이산화탄소를 포집하여 연간 90만톤을 북해 저장소에 영구 격리 계획</li>
                  <li class="world_bs-t1">산업 지역의 탄소를 제거하기 위해 저탄소 수소 및 포진된 탄소 배출을 위한 지역간 공유 파이프 라인 구축 예정</li>
                  <li class="world_bs-t1">Saltend Chemicals Park에 탄소포집 기능을 갖춘 세계 최대의 수소 생산 공장 건립</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section">
      <div class="wrapper">
        <div class="world01_01_wrap">
          <div class="table_wrap">
            <p class="table_caption">← 좌/우 슬라이드로 확인 →</p>
            <div class="table_box">
              <table>
                <thead>
                  <tr>
                    <th>구분</th>
                    <th>세부내용</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="gu">목표</td>
                    <td>세계 최초의 탄소배출 제로 산업 클러스터 조성</td>
                  </tr>
                  <tr>
                    <td class="gu">참여기업</td>
                    <td>Drax Group, Equinor, National Grid Ventures</td>
                  </tr>
                  <tr>
                    <td class="gu">기간</td>
                    <td>2050년</td>
                  </tr>
                  <tr>
                    <td class="gu">위치</td>
                    <td>험버강 유역</td>
                  </tr>
                  <tr>
                    <td class="gu">주요 내용</td>
                    <td>
                      <ul>
                        <li>- Drax 발전소의 바이오에너지 탄소포집저장 시범 프로젝트를 확장, 세계 최초의 온실가스 제거 발전소 설립</li>
                        <li>- 기후 변화 위원회의 지침에 따른 대규모 수소 생성 시설 건축</li>
                        <li>- 험버 강 유역을 포함한 요크셔 지방과 북부 잉글랜드에 최첨단 수소 경제 구축</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section">
      <div class="wrapper">
        <div class="world01_01_wrap">
          <p class="bar_title black"><b>Zero Carbon Humber 개요</b></p>
          <div class="world_images child2">
            <div class="box">
              <div class="img-wr">
                <img src="/source/img/world3-img1.jpg" alt="Zero Carbon Humber 개요">
              </div>
              <p class="subj">Zero Carbon Humber 개요</p>
            </div>
            <div class="box">
              <div class="img-wr">
                <img src="/source/img/world3-img2.jpg" alt="Zero Carbon Humber Projects Timeline">
              </div>
              <p class="subj">Zero Carbon Humber Projects Timeline</p>
            </div>
          </div>
          <p class="world_images_source">자료출처 : 제로 카본 험버(zerocarbonhumber.co.uk)</p>
        </div>
      </div>
    </div>

  </div>
  <!-- } 세계동향 - 동향안내 -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>