<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li><a href="/views/overview01.html">사업개요</a></li>
          <li class="active"><a href="/views/worldTrend01.html">세계동향</a></li>
          <li><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- 세계동향 - 동향안내 { -->
  <div class="worldTrend01">

    <div class="world_section">
      <div class="wrapper">
        <div class="common_text_box">
          <p class="common_title">세계동향</p>
          <ul class="i-col-0 pg_sub_tab">
            <li class="active"><a href="/views/worldTrend01.html">동향안내</a></li>
            <li><a href="/views/worldTrend02.html">탈석탄발전</a></li>
            <li><a href="/views/worldTrend03.html">수소∙해상풍력</a></li>
            <li><a href="/views/worldTrend04.html">스마트팜</a></li>
          </ul>
          <div class="common_pg_title world01_title">
            세계의 탄소중립경제 동향,<br>
            <span class="point_color">탄소중립에 따른 막대한 新시장 창출</span>
          </div>
        </div>
        <div class="world01_01_wrap">
          <p class="bar_title black"><b>세계 각국은 탄소중립 추진을 위한 막대한 재정 투입 계획</b></p>
          <ul class="i-col-2 overview01_01_ul">
            <li>
              <div class="inner">
                <p class="num">01</p>
                <p class="title">국제에너지기구(2022)</p>
                <p class="text">
                  2023년 세계 탄소중립 투자액 1470조 규모
                </p>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="num">02</p>
                <p class="title">블룸버그NEF(2021)</p>
                <p class="text">
                  전세계 청정에너지 전환 약 10경 필요
                </p>
              </div>
            </li>
          </ul>
          <div class="col-5 table_wrap">
            <table>
              <thead>
                <tr>
                  <th class="gu">구분</th>
                  <th>EU</th>
                  <th>미국</th>
                  <th>중국</th>
                  <th>일본</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="gu">탄소중립</td>
                  <td>2050년(‘30년 55% 감축)</td>
                  <td>2050년</td>
                  <td>2060년</td>
                  <td>2050년</td>
                </tr>
                <tr>
                  <td class="gu">대표정책</td>
                  <td>그린딜</td>
                  <td>청정에너지</td>
                  <td>제로탄소 중국</td>
                  <td>그린성장전략</td>
                </tr>
                <tr>
                  <td class="gu">예산</td>
                  <td>
                    1조유로<br>
                    - 1,400조원 이상<br>
                    - 2030년까지
                  </td>
                  <td>
                    2조달러<br>
                    - 2,220조원<br>
                    - 2023년까지
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    2조엔<br>
                    - 약 20조원<br>
                    - 2030년까지
                  </td>
                </tr>
                <tr>
                  <td class="gu">특징</td>
                  <td>
                    - 정책연계 강조<br>
                    - 지속가능 금융<br>
                    - 공정전환 지원<br>
                    - 디지털화 추진<br>
                    - 배터리 자립 추진<br>
                    - 탄소국경세 도입
                  </td>
                  <td>
                    - 인프라 투자<br>
                    - 친환경차 확대<br>
                    - 화석연료 규제(보조금 철폐)<br>
                    - 연구개발 강화<br>
                    - 탄소국경세 도입
                  </td>
                  <td>
                    - 인프라 투자<br>
                    - 친환경차 확대<br>
                    - 화석연료 규제(보조금 철폐)<br>
                    - 연구개발 강화<br>
                    - 탄소국경세 도입
                  </td>
                  <td>
                    - 소극적→적극적<br>
                    - 공기업 주도<br>
                    - 교통수송 중심(신에너지차)<br>
                    - 기술혁신 가속화<br>
                    - 탄소배출제 시행
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section world01_bg">
      <div class="wrapper">
        <p class="bar_title"><b>신시장 선점 위해 투자 확대 및 기술선점 심화</b></p>
        <div class="world01_02_wrap">
          <ul class="i-col-0 world01_02_ul">
            <li>
              <div class="inner">
                <div class="round">
                  <p>
                    태양광‧풍력 등<br>
                    재생에너지 산업 발전<br>
                    및 수소 가치 부각 
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="inner">
                <div class="round">
                  <p>
                    이차전지 시장<br>
                    (전기차 확대)<br>
                    급성장 전망
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="world_section world01_gray">
      <div class="wrapper">
        <div class="i-col-2 world01_03_wrap">
          <div class="world01_03_wrap_item">
            <p class="bar_title black"><b>글로벌 수소 시장 규모</b></p>
            <div class="world01_03_graph_box">
              <img src="/source/img/world01_03_graph01.png" alt="">
            </div>
          </div>
          <div class="world01_03_wrap_item">
            <p class="bar_title black"><b>2050 글로벌 수소 시장 규모 전망</b></p>
            <div class="world01_03_graph_box">
              <img src="/source/img/world01_03_graph02.png" alt="">
            </div>
          </div>
        </div>
        <p class="world01_03_source">자료출처 : 마켓앤마켓리서치, H2KOREA, 언론보도</p>
      </div>
    </div>

    <div class="world_section">
      <div class="wrapper">
        <div class="world01_04_wrap">
          <div class="world01_03_wrap_item">
            <p class="bar_title black"><b>2010~2022년, 국가별 기후테크 투자 총액</b></p>
            <div class="world01_03_graph_box">
              <img src="/source/img/world01_03_graph03.png" alt="">
            </div>
          </div>
        </div>
        <p class="world01_03_source">
          자료출처 : HolonIQ, 2 Jan 2023. All numbers rounded and may not sum exactly due to rounding. Excludes PE transactions.<br>All years calculated at historic FX (spot rate on funding date)
        </p>
      </div>
    </div>

  </div>
  <!-- } 세계동향 - 동향안내 -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>