<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li><a href="/views/overview01.html">사업개요</a></li>
          <li class="active"><a href="/views/worldTrend01.html">세계동향</a></li>
          <li><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- 세계동향 - 탈석탄발전 { -->
  <div class="worldTrend02">

    <div class="world_section">
      <div class="wrapper">
        <div class="common_text_box">
          <p class="common_title">세계동향</p>
          <ul class="i-col-0 pg_sub_tab">
            <li><a href="/views/worldTrend01.html">동향안내</a></li>
            <li class="active"><a href="/views/worldTrend02.html">탈석탄발전</a></li>
            <li><a href="/views/worldTrend03.html">수소∙해상풍력</a></li>
            <li><a href="/views/worldTrend04.html">스마트팜</a></li>
          </ul>
          <div class="common_pg_title world02_title">
            부분별 지역전환 사례<br>
            <span class="point_color">탈석탄발전(독일)</span>
          </div>
        </div>
        <div class="world02_01_wrap">
          <p class="bar_title black"><b>세계 각국은 탄소중립 추진을 위한 막대한 재정 투입 계획</b></p>
          <ul class="i-col-2 overview01_01_ul">
            <li>
              <div class="inner">
                <p class="num">01</p>
                <p class="title">탈석탄법</p>
                <p class="text">
                  무연탄과 갈탄 전설비를 2038년까지 3단계에 걸쳐 축소하고,<br>
                  탈석탄 이행·촉진을 위한 동반 조치 시행
                </p>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="num">02</p>
                <p class="title">석탄지역 구조강화법</p>
                <p class="text">
                  석탄 폐지로 인한 <br>
                  피해 지역에 재정 및 구조 강화를 위한 지원
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="world_section world02_02">
      <div class="wrapper">
        <div class="world02_02_wrap">
          <p class="bar_title black"><b>석탄구조강화법의 지원내용</b></p>
          <ul class="i-col-2 world02_02_ul">
            <li>
              <div class="inner">
                <p class="title">
                  <span class="num">01.</span> 석탄지역 경제적 손실 보상 성장 촉진을 위한 재정지원
                </p>
                <p class="content">
                  - 석탄지역구조강화법에 근거해 연방 구조 전환 기금 400억 유로 지원(53.6조원)<br>
                  - EU 정의로운 전환 기금(JTF) 6.8억 유로 지원(9,100억원)<br>
                  - EU 지역개발기금(ERDF) 14.8억 유로 지원 (1조, 9800억원)
                </p>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="title">
                  <span class="num">02.</span> 경제성장·일자리 창출을 위한 신규 기관 설립 및 확장 지원
                </p>
                <p class="content">
                  - 태양에너지 연구기관<br>
                  - 항공우주기관 설립 및 확장(항공우주센터, 전기비행연구원, 저공해 항공기 엔진 연구소 등)<br>
                  - 과학 모니터링센터, 지역 역량센터 등
                </p>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="title">
                  <span class="num">03.</span> 연방기관 설립 등 행정적 지원
                </p>
                <p class="content">
                  - 연방정부 기관설립 등을 통해 법 공포후 10년이내(‘28.12.31.)에 지방자치단체에 5,000개의 추가 일자리 창출<br>
                  - 연방 업무 분권화를 위해 지역사회에 자문기구를 설치
                </p>
              </div>
            </li>
            <li>
              <div class="inner">
                <p class="title">
                  <span class="num">04.</span> 도로·철도 등 인프라 구축
                </p>
                <p class="content">
                  - 석탄지역 진흥을 위해 도로 및 철도 인프라 투자 확대
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="world_section world02_03">
      <div class="wrapper">
        <div class="world02_03_wrap">
          <p class="bar_title black"><b>연방구조전환기금(InvKG)</b></p>
          <div class="table_wrap">
            <table>
              <thead>
                <tr>
                  <th rowspan="2">대상 연방 주</th>
                  <th colspan="4" style="border-bottom: 1px solid #ddd;">최대 지원 규모(유로)</th>
                </tr>
                <tr>
                  <th>재정지원 (총 140억)</th>
                  <th>연방프로그램 (총 260억)</th>
                  <th>합계 (총 400억)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center bold">A. 루사티아 (브란덴부르크주)</td>
                  <td class="center">36억 1,200만</td>
                  <td class="center">67억 800만</td>
                  <td class="center">103억 2천만(14조 8천억)</td>
                </tr>
                <tr>
                  <td class="center bold">B. 루사티아 (작센주)</td>
                  <td class="center">24억 800만</td>
                  <td class="center">44억 7,200만</td>
                  <td class="center">68억 8천만(9조 7천억)</td>
                </tr>
                <tr>
                  <td class="center bold">C. 독일 중부지역 (작센주)</td>
                  <td class="center">11억 2,000만</td>
                  <td class="center">20억 8,000만</td>
                  <td class="center">32억(4조 6천억)</td>
                </tr>
                <tr>
                  <td class="center bold">D. 독일 중부지역 (작센-안할트주)</td>
                  <td class="center">16억 8,000만</td>
                  <td class="center">31억 2,000만</td>
                  <td class="center">48억(6조 9천억)</td>
                </tr>
                <tr>
                  <td class="center bold">E. 라인지역(NRW)</td>
                  <td class="center">51억 8,000만</td>
                  <td class="center">96억 2,000만</td>
                  <td class="center">148억(21조원)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section flag_section gr">
      <div class="wrapper">
        <div class="world01_01_wrap">
          <div class="world_bs-flag">
            <img src="/source/img/flag-gr.jpg" alt="">
          </div>
          <p class="world_bs-tit">독일 노르트라인 베스트팔렌주(NRW)</p>
          <div class="world_bs-detail">
            <div class="world_bs-txtBox">
              <div class="world_bs-txtInner">
                <p class="world_bs-t0">지역특징</p>
                <ul class="world_bs-t-ul">
                  <li class="world_bs-t2 white">최대 공업지대인 루르 공업지대가 위치해 있는 지역이자 독일 최대 인구 지역(1800만명)</li>
                  <li class="world_bs-t2 white">연방 주 중 가장 많은 탄소를 배출하고 있으며, 갈탄(lignite) 및 무연탄(hard coal) 발전은 전체 배출량 ¼</li>
                  <li class="world_bs-t2 white">2030년까지(독일연방 정부 목표는 2038년) 갈탄 및 무연탄 화력발전소의 단계적 폐지 목표 </li>
                </ul>
              </div>
            </div>
            <div class="world_bs-txtBox white">
              <div class="world_bs-txtInner">
                <ul class="t-ul">
                  <li class="world_bs-t1">재정지원 : 약 22조원</li>
                  <li class="world_bs-t1">연방구조전환기금(InvKG) : 총 148억 유로 (21조 3천억원)</li>
                  <li class="world_bs-t1">EU정의로운 전환기금(JTF) : 총 6.8억 유로 (9,800억원)</li>
                  <li class="world_bs-t1">
                    지역프로젝트 “Revier.Gestalten” 진행(2021)<br>
                    <span>- 현재까지 승인된 프로젝트 : 109개(’23.2.1. 기준)</span>
                  </li>
                  <li class="world_bs-t1">라인 광산지역(Rheinish Revier)과 협력하여 성공적이고 미래 지향적이며 지속가능한 구조적 변화에 추진력을 제공하는 프로젝트를 선택</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section world02_04">
      <div class="wrapper">
        <p class="bar_title black"><b>프로젝트 아이디어</b></p>
        <div class="i-col-2 world02_04_wrap">
          <div class="world02_04_wrap_item">
            <div class="inner">
              <img src="/source/img/world02_04_wrap_item_map.png" alt="">
            </div>
          </div>
          <div class="world02_04_wrap_item">
            <ul class="world02_04_wrap_list">
              <li>
                <div class="inner">
                  <div class="level_title">1. 에너지 및 산업</div>
                  <div class="content">
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon01.png" alt=""></span>
                      <span>미래의 에너지 시스템</span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon02.png" alt=""></span>
                      <span>수소 기술</span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon03.png" alt=""></span>
                      <span>지속 가능한 산업</span>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="level_title">2. 자원 및 농원</div>
                  <div class="content">
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon04.png" alt=""></span>
                      <span>자원 및 지속가능한 물질 흐름
                      </span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon05.png" alt=""></span>
                      <span>지식기반 바이오경제 및 지속가능한 농업·식품 산업</span>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="level_title">3. 혁신 및 교육</div>
                  <div class="content">
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon06.png" alt=""></span>
                      <span>디지털화 및 창업 지원
                      </span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon07.png" alt=""></span>
                      <span>교육 및 역량 강화</span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon08.png" alt=""></span>
                      <span>교육·상업 활성화</span>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="level_title">4. 공간 및 인프라</div>
                  <div class="content">
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon09.png" alt=""></span>
                      <span>인프라 및 혁신적인 모빌리티
                      </span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon10.png" alt=""></span>
                      <span>항공</span>
                    </p>
                    <p class="i-col-0 content_item">
                      <span class="icon"><img src="/source/img/world02_04_icon11.png" alt=""></span>
                      <span>혁신적인 주거 및 복합 용도 지역</span>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section world02_05">
      <div class="wrapper">
        <div class="world02_05_wrap">
          <div class="world02_05_item">
            <p class="world02_05_item_title">1. 에너지 및 산업</p>
            <div class="table_wrap type02 blue">
              <table>
                <tr>
                  <th>
                    기가와트 협정<br>
                    (Gigawatt Packt)
                  </th>
                  <td>
                    2028년까지 라인 갈탄 지역의 모든 장소에서 <br>
                    (i) 재생에너지 발전용량을 2.3 기가와트(2020년 기준)에서 5 기가와트로 두 배 이상 확대 <br>
                    (ii) 열 생성을 위한 재생 에너지 확장 추진
                  </td>
                </tr>
                <tr>
                  <th>
                    H2 Revier - 수소 기반<br>
                    ‘연료 전지’ 생산 개발 프로젝트
                  </th>
                  <td>
                    (i) 연료 전지 시스템 구축<br>
                    (ii) 유연하고 확장 가능한 생산 계획<br>
                    (iii) 효율적인 테스트 개념 개발<br>
                    (iv) 원가 대폭 절감<br>
                    (v) 시스템 프로토타입 구성
                  </td>
                </tr>
                <tr>
                  <th>
                    ‘지속가능한 전기화학 <br>
                    인큐베이터(iNEW)’ 프로젝트
                  </th>
                  <td>
                    (i) ‘에너지 전환 기술(Power-to-X)’ 테스트 및 산업화를 위한 혁신 플랫폼 개발<br>
                    (ii) ‘재생에너지를 사용한 기후 친화적 생산 공정(Baustein)’ 제공
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="world02_05_item">
            <p class="world02_05_item_title">2. 자원 및 기업식 농업</p>
            <div class="table_wrap type02 sora">
              <table>
                <tr>
                  <th>
                    바이오경제 REVIER 모델 영역 <br>
                    (BioökonomieREVIER <br>
                    Rhineland)
                  </th>
                  <td>
                    전통적인 지역 조건 하에, 전통 경제(화석 연료 기반)에서 벗어난 지속 가능한 바이오 경제로의 전환을 추구하는 ‘하이브리드 순환경제’ 시범 지역 운영
                  </td>
                </tr>
                <tr>
                  <th>
                    Reallabor 블록체인 기술을<br>
                    적용한 모델 지역 개발
                  </th>
                  <td>
                    (i) 블록체인 기술 구축<br>
                    (ii) 디지털 비즈니스 모델 허브를 통한 디지털 스타트업 정착 촉진 <br>
                    (iii) 기업의 디지털 전환 지원
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="world02_05_item">
            <p class="world02_05_item_title">3. 혁신 및 교육</p>
            <div class="table_wrap type02 yellow">
              <table>
                <tr>
                  <th>
                    NEUROTEC II 개발
                  </th>
                  <td>
                    (i) 미래 전자 장치에 사용할 ‘NEUROTEC II(신경에서 영감을 받은 인공지능 기술)’ 개발<br>
                    (ii) ‘멤리스티브 회로(Memristiver Schaltungen)’ 기술 및 개념 개발<br>
                    <span class="yellow">* 비용 : 3,714만 유로 (BMBF 기금: 3,414만 유로(92%) + 참여 대학: 160만 유로(8%)) PLCA(항공 센터) 설립</span>
                  </td>
                </tr>
                <tr>
                  <th>
                    에른스트 루스카 센터(ER-C)<br>
                    2.0 설립
                  </th>
                  <td>
                    (i) 연구 인프라 및 인적 역량 확대<br>
                    (ii) 물질(금속 또는 세포조직 등)의 구조 및 특성 해석을 통한 새로운 치료제 및 치료법 개발<br>
                    <span class="yellow">* 비용 : 5,440만 유로(783억원)</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="world02_05_item">
            <p class="world02_05_item_title">4. 공간 및 인프라</p>
            <div class="table_wrap type02 brown">
              <table>
                <tr>
                  <th>
                    PLCA(항공 센터) 설립
                  </th>
                  <td>
                    PLCA(Production Launch Center Avition)의 생산 프로세스(자동화된, 확장 가능한, 비용 최적화된, 더 빠른, 디지털화된)의 산업적 사용
                  </td>
                </tr>
                <tr>
                  <th>
                    DLR 소형 항공기 기술<br>
                    (DLR-KF)’ 연구 프로그램
                  </th>
                  <td>
                    (i) 여객과 화물 운송 연구 및 최적화<br>
                    (ii) 안전하고 배출과 소음이 최소화된 전기 또는 하이브리드 전기 소형 항공기 개발<br>
                    (iii) 높은 수준의 활동 네트워킹 달성<br>
                    (iv) 기술 이전 보장·개발·확장
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- } 세계동향 - 탈석탄발전 -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>