<!DOCTYPE html>
<html lang="kobis">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>탄소중립경제 특별도</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>
<body>
  <!-- Header { -->
  <div class="header">
    <h1 class="logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="탄소중립경제 특별도">
      </a>
    </h1>
  </div>
  <!-- } Header -->
  
  <!-- Top { -->
  <div class="pg_top">
    <div class="pg_top_cont">
      <div class="wrapper">
        <div class="i-col-0 pg_top_keyword">
          <p>新성장동력</p>
          <p>미래먹거리</p>
          <p>새로운일자리</p>
        </div>
        <p class="pg_title">탄소중립경제 특별도</p>
        <p class="pg_text">
          탄소중립경제는 탄소중립의 지속적 유지를 위한 “에너지, 경제·산업 사회”구조의 체질을 개선하고<br>
          미래 신성장동력을 창출하는 경제시스템으로 충남에서는 新성장동력, 미래먹거리, 새로운 일자리<br>
          창출을 위해 탄소중립경제 특별도를 신설하였습니다.
        </p>
      </div>
    </div>
    <div class="pg_tab_wrap">
      <div class="wrapper">
        <ul class="i-col-0 bg_tab">
          <li><a href="/views/overview01.html">사업개요</a></li>
          <li class="active"><a href="/views/worldTrend01.html">세계동향</a></li>
          <li><a href="/views/board.html">보도자료</a></li>
          <li><a href="/views/board.html">커뮤니티</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- } Top -->

  <!-- 세계동향 - 동향안내 { -->
  <div class="worldTrend01">

    <div class="world_section">
      <div class="wrapper">
        <div class="common_text_box">
          <p class="common_title">세계동향</p>
          <ul class="i-col-0 pg_sub_tab">
            <li><a href="/views/worldTrend01.html">동향안내</a></li>
            <li><a href="/views/worldTrend02.html">탈석탄발전</a></li>
            <li><a href="/views/worldTrend03.html">수소∙해상풍력</a></li>
            <li class="active"><a href="/views/worldTrend04.html">스마트팜</a></li>
          </ul>
          <div class="common_pg_title world01_title netherlands">
            부분별 지역전환 사례<br>
            <span class="point_color">스마트팜(네덜란드)</span>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section flag_section netherlands">
      <div class="wrapper">
        <div class="world01_01_wrap">
          <div class="world_bs-flag">
            <img src="/source/img/flag-netherlands.jpg" alt="네덜란드 국기">
          </div>
          <p class="world_bs-tit">네덜란드 Agriport A7</p>
          <div class="world_bs-detail">
            <div class="world_bs-txtBox white">
              <div class="world_bs-txtInner">
                <ul class="world_bs-t-ul">
                  <li class="world_bs-t1">Agriport A7는 간척지에 대규모로 조성된 융복합 농공단지이자 스마트팜 단지</li>
                  <li class="world_bs-t2">온실가스 배출 감소와 동시에 탄소포집을 통해 자원순환형 모델 적용</li>
                  <li class="world_bs-t2">2015년 부터 마이크로소프트의 데이터 센터를 온실 옆에 입지시키고 인근 온실들과 생태적 에너지 순환 체계 형성</li>
                </ul>
              </div>
            </div>
            <div class="world_bs-txtBox white">
              <div class="world_bs-txtInner">
                <p class="world_bs-t-big">에너지 순환시스템</p>
                <ul class="t-ul">
                  <li class="world_bs-t2">고도로 자동화된 온실의 냉난방 문제 해결을 위해 지열 및 풍력발전 투입</li>
                  <li class="world_bs-t2">동시에 온실마다 식물생육에 필요한 순수한 이산화탄소 추출을 위한 LNG 발전기 가동</li>
                  <li class="world_bs-t2">CHP(Combinded Heat and Power) 시스템 장치를 통해 LNG를 연소시키고 이때 발생하는 전기와 이산화 탄소만 온실에서 사용, 남는 전기는 마이크로 데이터 센터에 저렴하게 공급</li>
                </ul>
              </div>
              <div class="world_bs-t-cBox">
                <p class="world_bs-t-big white">⇒ 제조업과 농업을 결합한 융복합형 탄소중립 산업단지 모델 구축 가능</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="world_section">
      <div class="wrapper">
        <div class="world01_01_wrap">
          <div class="world_images child2">
            <div class="box">
              <div class="img-wr">
                <img src="/source/img/world4-img1.jpg" alt="Agriport A7 전경">
              </div>
            </div>
            <div class="box">
              <div class="img-wr">
                <img src="/source/img/world4-img2.jpg" alt="Agriport A7 전경">
              </div>
              <p class="subj">Agriport A7 전경</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- } 세계동향 - 동향안내 -->

  <!-- Footer { -->
  <div class="footer">
    <div class="wrapper">
      <div class="footer_cont">
        <div class="copyright">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="i-col-0 field_info">
          <span>탄소중립경제과</span>
          <span><a href="tel:041-635-3461">041-635-3461</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- } Footer -->
</body>
</html>