/* Settings */
:root {
  --main-color: #02be86;
  --white-color: #fff;
  --black-color: #000;
  --mobile-height: calc(var(--var,1vh) * 100);
}

/* Common */
.cmTable {width: 100%;}
.cmTable th {font-size: 18px; font-weight: 500; color: #fff; background-color: #777; line-height: 1.45;}
.cmTable td {font-size: 18px; font-weight: 400; color: #666; background-color: #fff; line-height: 1.45;}
.cmTable td.bold {font-weight: 500; color: #333;}

/* Header { */
  .header {display: flex; align-items: center; position: absolute; top: 0; left: 0; width: 100%; padding: 30px 44px; z-index: 10;}
  .header .logo {}
  .header .logo a {display: block;}
/* } Header */

/* Top { */
  .pg_top {background: url('/source/img/pg-top-bg.jpg') no-repeat center/cover; height: 700px; position: relative;}
  .pg_top_cont {text-align: center; position: absolute; width: 100%; top: 136px;}
  .pg_top_keyword {background-color: var(--main-color); border-radius: 26px; display: inline-block; padding: 10px 18.5px;}
  .pg_top_keyword p {font-weight: 400; font-size: 26px; color: #fff; line-height: 1.23; padding: 0 17.5px; position: relative;}
  .pg_top_keyword p::before {content: '·'; font-weight: 400; font-size: 26px; color: #fff; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
  .pg_top_keyword p:first-child::before {display: none;}
  .pg_top_keyword p:first-child {padding-left: 0;}
  .pg_top_keyword p:last-child {padding-right: 0;}

  .pg_title {font-weight: 700; font-size: 80px; color: var(--black-color); padding: 38px 0;}
  .pg_text {font-weight: 300; font-size: 18px; color: #444; line-height: 1.58;}

  .pg_tab_wrap {position: absolute; bottom: 0; width: 100%; background-color: rgba(0,0,0,0.5);}
  .bg_tab {text-align: center;}
  .bg_tab li {position: relative;}
  .bg_tab li::before {content: ''; width: 1px; height: 18px; background-color: #bbb; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
  .bg_tab li:last-child::before {display: none;}
  .bg_tab li a {font-weight: 400; font-size: 22px; color: #fff; display: block; padding: 27px 79px; transition: .3s; position: relative;}
  .bg_tab li a::before {content: ''; width: 0; height: 2px; position: absolute; bottom: 24px; left: 50%; transform: translateX(-50%); background-color: #61efc5; transition: .3s;}

  .bg_tab li a:hover {color: #61efc5; font-weight: 700;}
  .bg_tab li a:hover::before {width: 75px;}

  .bg_tab li.active a {color: #61efc5; font-weight: 700;}
  .bg_tab li.active a::before {width: 75px;}
/* } Top */

/* Main { */
  .main_section {padding: 120px 0;}
  .main_section01 {background: url('/source/img/main-section01-bg.jpg') no-repeat center/cover;}
  .main_section02 {background: url('/source/img/main-section02-bg.jpg') no-repeat center/cover; padding: 100px 0;}

  .section_title_box {text-align: center;}
  .section_title_box .sub_title {font-weight: 700; font-size: 16px; color: #bbb; padding-bottom: 22px;}
  .section_title_box .title {font-weight: 300; font-size: 40px; color: var(--black-color); line-height: 1.3;}
  .section_title_box .title .point {color: var(--main-color); font-weight: 700;}

  .main_video_wrap {text-align: center;}
  .main_video_box {border-radius: 10px; overflow: hidden; max-width: 1144px; width: 100%; margin: 35px auto 20px; position: relative; height: 0; padding-bottom: 48.75%; box-shadow: 0 0 30px rgba(0,0,0,0.2);}
  .main_video_box video {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%;}

  .main_btn_box {display: flex; align-items: center; justify-content: center;}
  .main_btn_item {}
  .main_btn_item a {display: flex; align-items: center; justify-content: center; width: 280px; height: 60px; border-radius: 30px; background-color: #ef0d0d; font-weight: 400; font-size: 16px; color: #fff;}
  .main_btn_item a span:nth-child(2) {margin-left: 10px; margin-right: 14px;}

  .main_goal_wrap {}
  .main_goal_list {margin: -10px; padding-top: 62px;}
  .main_goal_list li {padding: 10px;}
  .main_goal_item {background-color: #fff; border-radius: 10px; box-shadow: 0 0 18px rgba(0,0,0,0.08); display: flex; align-items: center; padding: 30.5px 20px;}
  .main_goal_item .icon {width: 59px; height: 59px; display: flex; align-items: center; justify-content: center; border-radius: 10px; background-color: #f8f8f8;}
  .main_goal_item .text {padding-left: 17px;}
  .main_goal_item .text .title {font-weight: 700; font-size: 26px; color: #333;}
  .main_goal_item .text .content {font-weight: 700; font-size: 16px; color: var(--main-color); padding-top: 8px;}

  .main_wonder_list {margin: -27.5px; padding-top: 50px;}
  .main_wonder_list li {padding: 27.5px;}
  .main_wonder_item {display: flex; height: 360px; border-radius: 10px; padding: 43px 41px;}
  .main_wonder_item .text_box {}
  .main_wonder_item .text_box .title {font-weight: 500; font-size: 32px; color: #fff;}
  .main_wonder_item .text_box .detail {display: flex; font-weight: 300; font-size: 16px; color: #fff; padding-top: 18px; padding-left: 5px;}
  .main_wonder_item .text_box .detail span:last-child {padding-left: 10px;}

  .main_wonder_list li:nth-child(1) .main_wonder_item {background: url('/source/img/icon-wonder-bg01.png') no-repeat center/cover;}
  .main_wonder_list li:nth-child(2) .main_wonder_item {background: url('/source/img/icon-wonder-bg02.png') no-repeat center/cover;}
  .main_wonder_list li:nth-child(3) .main_wonder_item {background: url('/source/img/icon-wonder-bg03.png') no-repeat center/cover;}
/* } Main */

/* Footer { */
  .footer {background-color: #333; padding: 29px 0;}
  .footer_cont {display: flex; align-items: center; justify-content: space-between;}
  .footer_cont .copyright {font-weight: 400; font-size: 14px; color: #fff;}
  .field_info {margin: 0 -12px;}
  .field_info span {font-weight: 700; font-size: 18px; color: var(--main-color); padding: 0 12px; position: relative;}
  .field_info span::before {content: ''; width: 1px; height: 14px; background-color: #767676; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
  .field_info span:first-child::before {display: none;}
  .field_info span a {font-weight: 700; font-size: 18px; color: var(--main-color);}
/* } Footer */

/* 텍스트 게시판 - list { */
  .board_section {}

  .board {padding: 120px 0;}
  .board_top {display: flex; align-items: flex-end; justify-content: space-between; padding-bottom: 20px;}
  .board_cnt_wrap {}
  .board_cnt {font-weight: 400; font-size: 18px; color: var(--black-color);}
  .board_cnt span {font-weight: 700; color: var(--main-color);}
  .board_srch_wrap {}
  .board_srch_bar {display: flex; align-items: center; justify-content: space-between; gap: 0 13px;}
  .board_srch_bar select {width: 124px; border: none; border-bottom: 1px solid #ccc; background: url('/source/img/icon-select.png') no-repeat center right 10px; padding: 18px 10px; font-weight: 400; font-size: 16px; color: var(--black-color);}
  .board_srch_input_wrap {width: 338px; border-bottom: 1px solid #ccc; position: relative;}
  .board_srch_input_wrap input[type=text] {font-weight: 400; font-size: 16px; color: var(--black-color); border: none; padding: 18px 26px 18px 10px; outline: none; width: 100%; background-color: transparent;}
  .board_srch_input_wrap [type=submit] {border: none; background-color: transparent; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}

  .board_contents {}
  .list {}
  .list_head {display: flex; width: 100%; border-radius: 5px; background-color: #333; height: 60px; align-items: center;}
  .list_head .th {font-weight: 400; font-size: 18px; color: var(--white-color); position: relative; text-align: center;}
  .list_head .th:last-child::after {display: none;}
  .list_head .th::after {content: ''; width: 1px; height: 17px; background-color: rgba(255,255,255,0.3); position: absolute; top: 50%; right: 0; transform: translateY(-50%);}

  .list .td_num {width: 102px;}
  .list .td_subj {width: calc(100% - 543px);}
  .list .td_depart {width: 178px;}
  .list .td_hits {width: 128px;}
  .list .td_file {width: 135px;}

  .list_body {}
  .list_body_item {display: flex; align-items: center; transition: .3s; border-bottom: 1px solid #dedede; padding: 30.61px 0;}
  .list_body_item .td {text-align: center;}
  .list_body_item .td.td_num {font-weight: 700; font-size: 20px; color: #d9d9d9;}
  .list_body_item .td.td_subj {text-align: left; padding: 0 24px;}
  .list_body_item .td.td_subj .td_date {font-weight: 500; font-size: 16px; color: #bdbdbd; padding-bottom: 8px; transition: .3s;}
  .list_body_item .td.td_subj .td_title {font-weight: 400; font-size: 18px; color: var(--black-color); transition: .3s;}
  .list_body_item .td.td_depart {font-weight: 300; font-size: 18px; color: #666; transition: .3s;}
  .list_body_item .td.td_hits {font-weight: 300; font-size: 18px; color: #666; transition: .3s;}
  .list_body_item .td.td_file {text-align: center;}
  .list_body_item .td.td_file .icon {display: flex; width: 46px; height: 46px; border: 1px solid #d9d9d9; align-items: center; justify-content: center; border-radius: 50%; margin: 0 auto; transition: .3s;}
  .list_body_item .td.td_file .td_file_icon {}
  .list_body_item .td.td_file .td_baro_icon {width: 32px; height: 32px; border: 2px solid var(--main-color); display: none;}
  .list_body_item .td.td_file .td_baro_icon img {width: 10px;}

  .list_body_item:hover {background-color: #f8f8f8; border-radius: 10px; border-bottom: 1px solid transparent; box-shadow: 2px 0 12px rgba(0,0,0,0.04); margin-top: -1px;}
  .list_body_item:hover .td_subj .td_date {color: var(--main-color);}
  .list_body_item:hover .td_subj .td_title {color: var(--main-color);}
  .list_body_item:hover .td_depart {color: var(--main-color);}
  .list_body_item:hover .td_hits {color: var(--main-color);}
  .list_body_item:hover .icon.td_file_icon {display: none;}
  .list_body_item:hover .icon.td_baro_icon {display: flex;}

  .pagination {padding-top: 40px;}
  .pagi_ul {display: flex; align-items: center; justify-content: center;}
  .pagi_ul li {padding: 0 13px;}
  .pagi_ul li a {display: block; font-weight: 400; font-size: 18px; color: #bdbdbd; transition: .3s;}
  .pagi_ul li a:hover {color: var(--black-color); font-weight: 500;}
  .pagi_ul li a.active {color: var(--black-color); font-weight: 500;}
  .pagi_ul li .pg_prev,.pagi_ul li .pg_next {display: flex; width: 32px; height: 32px; border-radius: 50%; align-items: center; justify-content: center; border: 1px solid var(--black-color);}
/* } 텍스트 게시판 - list */

/* 텍스트 게시판 - view { */
  .bo_view_wrap {padding: 120px 0;}
  .list-view-top {
    border-top: 1px solid #0f0f0f;
    border-bottom: 1px solid #e8e8e8;
    padding: 38px 190px 36px 34px;
    position: relative;
  }
  .list-view-title {
    font-weight: 400;
    font-size: 23px;
    color: #0f0f0f;
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
  }
  .list-view-top-sort {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 300;
    color: #666;
    text-align: center;
  }
  .list-view-top-sort:last-child {
    margin-right: 0;
  }
  .list-view-reply {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background: #666;
    border-radius: 5px;
    padding-left: 29px;
    padding-right: 9px;
    margin-right: 3px;
  }
  .list-view-reply::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 7px;
    width: 15px;
    height: 11px;
    background: url(../img/icon-reply.png) no-repeat center center/contain;
  }
  .list-view-secret {
    font-weight: 400;
  }
  .list-view-top.list-view-top--type2 {
    padding: 33px 190px 30px 34px;
  }
  .list-view-top--type2 .list-view-title-wrap {
    overflow: hidden;
    margin-bottom: 3px;
  } 
  .list-view-top--type2 .list-view-title {
    float: left;
    font-size: 20px;
  }
  .list-view-top.list-view-top--type2 .list-view-top-sort {
    float: inherit;
    min-width: 68px;
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #555;
  }
  .list-view-date {
    padding-top: 4px;
  }
  .list-view-date span {
    font-weight: 300;
    font-size: 16px;
    color: #999;
    padding-left: 5px;
  }
  .list-view-top-btn-wrap {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    margin: 0 -5px;
  }
  .list-view-top-btn-item {
    padding: 0 5px;
    font-size: 0;
  }
  .list-view-top-btn-link {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
  }
  .list-view-top-btn-link.print {
    background: #fff url('../img/icon-print.png') no-repeat center center;
    border: 1px solid #ccc;
  }


  .list-file-wrap {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0;
  }
  .list-file-ul {
    margin: -5px 0;
  }
  .list-file-ul li {
    padding: 5px 0;
  }
  .list-file-inner {
    display: block;
    border-radius: 10px;
    border: 1px solid #dedede;
    background-color: #f9f9f9;
    padding: 22px 30px;
    transition: .3s;
  }
  .list-file-inner .file-name {
    font-weight: 300;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
    width: auto;
    max-width: calc(100% - 100px);
  }
  .list-file-inner .file-capacity {
    font-weight: 300;
    font-size: 14px;
    color: #999;
    padding-left: 5px;
  }

  .list-file-inner:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
  }
  .list-file-inner:hover .file-name {
    font-weight: 400;
    color: #fff;
  }
  .list-file-inner:hover .file-capacity {
    color: #fff;
  }

  .list-view-bot {
    padding: 40px 28px;
    border-bottom: 1px solid #ccc;
  }
  .list-view-cont-title {
    padding-bottom: 13px;
  }
  .list-view-cont-title span {
    font-weight: 400;
    font-size: 18px;
    color: #0f0f0f;
    padding-left: 10px;
    line-height: 1;
  }
  .list-view-cont h4 {
    position: relative;
    padding-bottom: 13px;
    padding-left: 26px;
    font-weight: 400;
    font-size: 18px;
    color: #0f0f0f;
    line-height: 1;
  }
  .list-view-cont h4::before {
    content:"";
    width: 16px;
    height: 16px;
    background: url('../img/list-view-cont-icon.png') no-repeat center center/contain;
    position: absolute;
    left: 0;
    top: 0;
  }
  .list-view-cont h4 ~ h4 {
    margin-top: 32px;
  }
  .list-view-cont-wrap {
    margin: -15px 0;
  }
  .list-view-cont {
    padding: 16px 0;
  }
  .list-view-cont-box {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 24px 30px 23px;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.625;
  }
  .list-view-cont-text01 {
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.625;
    padding-top: 9px;
  }
  .list-view-cont-text01:first-child {
    padding-top: 0;
  }

  .list-rel-notice-wrap {
    margin-top: 70px;
  }
  .list-rel-notice-title-wrap {
    position: relative;
    padding-bottom: 12px;
  }
  .list-rel-notice-title {
    font-weight: 400;
    font-size: 20px;
    color: #0f0f0f;
    line-height: 1.2;
    float: left;
  }
  .list-rel-notice-baro {
    float: right;
    font-weight: 300;
    font-size: 16px;
    color: #666;
    line-height: 1;
    padding-top: 4px;
  }
  .list-rel-notice-baro img {
    margin-left: 8px;
  }
  .list-rel-notice-box {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 0 34px;
  }
  .list-rel-notice-item {
    display: block;
    border-bottom: 1px dotted #ddd;
    padding: 22px 0 ;
  }
  .list-rel-notice-item:last-child {
    border-bottom: none;
  }
  .list-rel-notice-item > * {
    font-weight: 300;
    font-size: 16px;
    color: #666;
  }
  .list-rel-notice-item-title {
    max-width: calc(100% - 160px);
  }
  .list-rel-notice-item-date {
    position: relative;
    max-width: 130px;
    padding-left: 30px;
    margin-left: 30px;
  }
  .list-rel-notice-item-date::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .notice-list-view-bot {
    border-bottom: 1px solid #ccc;
  }
  .notice-list-view-cont {
    padding: 40px 33px;
  }
  .notice-list-view-img-box {
    display: inline-block;
    border: 1px solid #ddd;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 0;
  }
  .notice-list-view-cont-text {
    font-weight: 300;
    font-size: 16px;
    color: #666;
    line-height: 1.625;
  }

  .td-info {
    margin: 10px -13px 0;
  }
  .td-info li {
    padding: 0 13px;
    font-size: 0;
  }
  .td-info li .icon-wrap {
    padding-right: 8px;
    font-size: 16px;
  }
  .td-info li .icon-wrap img {margin-top: -4px;}
  .info-title {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding-right: 10px;
  }
  .info-text {
    font-weight: 300;
    font-size: 16px;
    color: #999;
  }
  .view-btn-wrap {
    margin-top: 30px;
  }
  .view-back-btn {
    display: block;
    width: 180px;
    max-width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #222;
    text-align: center;
  }
  @media screen and (min-width:1290px){
    .main-title-link:hover {background-color: #fff; border-color: #fff; background-image: url('../img/icon-monitor_g.png'); color: #666;}
    .main-file-link:hover {background-color: #fff; box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1); border-color: var(--main-color);}
    .main-file-link:hover .main-file-txt {color: var(--main-color);}
    .main-file-link:hover .main-file-icon {background-color: var(--main-color);}
    .tab-dep1-li:not(.active) > a:hover {background-color: #999; border-color: #999;}
    .poster-tab-li:not(.active) > button:hover {color: #666;}
    .board-cate-li:not(.active) > a:hover {color: #666;}
    }
/* } 텍스트 게시판 - view */

/* 사업 개요 { */
  .overview_section {}
  .overview_section.overview01_bg {background: url('/source/img/overview01-bg.png') no-repeat center/cover; padding: 62px 0 178px;}
  .overview_section.overview03_bg {background: url('/source/img/overview03-bg.png') no-repeat center/cover; padding: 60px 0;}
  .overview_section.overview04_bg {background: url('/source/img/overview04-bg.png') no-repeat center/cover; padding: 60px 0 80px;}
  .common_text_box {padding-top: 120px;}
  .common_title {font-weight: 800; font-size: 50px; text-align: center; padding-bottom: 40px;}
  .pg_sub_tab {text-align: center; margin: 0 -2.5px; padding-bottom: 60px;}
  .pg_sub_tab li {padding: 0 2.5px;}
  .pg_sub_tab li a {display: flex; align-items: center; justify-content: center; width: 200px; height: 56px; border-radius: 28px; background-color: #d3d3d3; font-weight: 600; font-size: 18px; color: var(--white-color); border: 2px solid transparent; transition: .3s;}

  .pg_sub_tab li.active a {background-color: #fff; border-color: var(--main-color); color: var(--main-color); box-shadow: 0 0 10px rgba(0,0,0,0.1);}
  .pg_sub_tab li a:hover {background-color: #fff; border-color: var(--main-color); color: var(--main-color); box-shadow: 0 0 10px rgba(0,0,0,0.1);}

  .common_pg_title {font-weight: 300; font-size: 46px; color: var(--black-color); line-height: 1.30; padding-bottom: 34px; border-bottom: 2px solid #eeeeee; position: relative;}
  .common_pg_title .point_color {font-weight: 700; color: var(--main-color);}

  .overview01_title::after {content: '2023.10'; font-weight: 900; font-size: 100px; color: #f7f7f7; position: absolute; bottom: -30px; right: 0;}

  .overview01_01_wrap {padding-bottom: 97px;}
  .overview01_01_ul {padding-top: 60px; margin: -10px;}
  .overview01_01_ul li {padding: 10px; vertical-align: top;}
  .overview01_01_ul li .inner {border-radius: 30px; box-shadow: 0 0 18px rgba(0,0,0,0.08); text-align: center; border: 1px solid #eee; padding: 23px 20px 39px; height: 100%;}
  .overview01_01_ul li .inner .num {display: flex; width: 48px; height: 48px; align-items: center; justify-content: center; border-radius: 50%; border: 2px solid var(--main-color); margin: 0 auto; font-weight: 600; font-size: 18px; color: var(--main-color); margin-bottom: 13px;}
  .overview01_01_ul li .inner .title {font-weight: 700; font-size: 26px; color: #333; padding-bottom: 30px; position: relative;}
  .overview01_01_ul li .inner .title::before {content: ''; width: 20px; height: 2px; background-color: #ddd; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
  .overview01_01_ul li .inner .text {padding-top: 28px; font-weight: 400; font-size: 18px; line-height: 1.55; color: #666;}

  .overview01_01_expl_box {background-color: #fafafa; border-radius: 30px; margin-top: 17px; padding: 29px 35px;}
  .overview01_01_expl_box .qs {font-weight: 700; font-size: 16px; color: var(--main-color); line-height: 1.75;}
  .overview01_01_expl_box .as {font-weight: 400; font-size: 18px; color: #333; line-height: 1.55;}

  .overview01_02_wrap {padding-bottom: 84px;}
  .overview01_02_wrap:last-child {padding-bottom: 0;}
  .bar_title {padding-left: 17px; font-weight: 400; font-size: 22px; color: #fff; line-height: 1.27; position: relative; margin-bottom: 18px;}
  .bar_title.black {color: var(--black-color);}
  .bar_title::before {content: ''; width: 3px; height: 20px; background-color: var(--main-color); position: absolute; top: 4px; left: 0;}

  .overview01_02_graph_box {border-radius: 30px; background-color: #f9f9f9; padding: 52px 146px; position: relative;}
  .overview01_02_graph_box::before {content: '자료출처 : 임재규 (2021)'; font-weight: 400; font-size: 16px; color: #999; position: absolute; bottom: 21px; right: 24px;}
  .overview01_02_graph_ul {margin: -21px -22px; position: relative}
  .overview01_02_graph_ul::before {content: ''; background: url('/source/img/overview01_02_graph_bg.png') no-repeat center; width: 700px; height: 400px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
  .overview01_02_graph_ul li {padding: 21px 22px; position: relative; z-index: 1;}
  .overview01_02_graph_ul li .inner {box-shadow: 2px 0 20px rgba(0,0,0,0.1); border-radius: 20px; text-align: center; padding: 22px 20px 29px; position: relative; z-index: 2; background-color: #fff;}
  .overview01_02_graph_ul li .inner .icon {display: flex; align-items: center; justify-content: center; width: 65px; height: 65px; border-radius: 50%; background-color: #fafafa; margin: 0 auto;}
  .overview01_02_graph_ul li .inner .title {font-weight: 600; font-size: 20px; color: var(--black-color); margin-top: 13px;}
  .overview01_02_graph_ul li .inner .text {font-weight: 400; font-size: 16px; color: #666; line-height: 1.5; padding-top: 16px;}

  .overview01_02_graph_ul li:nth-child(1) {vertical-align: bottom;}
  .overview01_02_graph_ul li:nth-child(2) {padding-bottom: 113.5px;}
  .overview01_02_graph_ul li:nth-child(3) {vertical-align: bottom;}
  .overview01_02_graph_ul li:nth-child(4) {vertical-align: top;}
  .overview01_02_graph_ul li:nth-child(5) {padding-top: 113.5px;}
  .overview01_02_graph_ul li:nth-child(6) {vertical-align: top;}

  .overview01_02_str_ul {margin: -29px; position: relative;}
  .overview01_02_str_ul::before {content: ''; background-color: #949494; width: 90%; height: 1px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
  .overview01_02_str_ul li {padding: 29px; position: relative;}
  .overview01_02_str_ul li::after {content: ''; width: 33px; height: 33px; border-radius: 50%; border: 2px solid #ddd; background: url('/source/img/icon-arr-right01.png') no-repeat center #333; position: absolute; top: 50%; right: -17.5px; transform: translateY(-50%);}
  .overview01_02_str_ul li:last-child::after {display: none;}
  .overview01_02_str_ul li .inner {border: 20px; background-color: #fff; border-radius: 20px; box-shadow: 2px 0 20px rgba(0,0,0,0.1); text-align: center; padding: 23px 5px 33px;}
  .overview01_02_str_ul li .inner .icon {display: flex; align-items: center; justify-content: center; width: 65px; height: 65px; border-radius: 50%; border: 1px solid var(--main-color); box-shadow: 0 0 20px rgba(0,0,0,0.1); margin: 0 auto;}
  .overview01_02_str_ul li .inner .title {font-weight: 600; font-size: 20px; color: var(--black-color); line-height: 1.4; margin: 8px 0 10px;}
  .overview01_02_str_ul li .inner .text {font-weight: 400; font-size: 16px; color: #666; line-height: 1.5;}

  .overview02 {padding-bottom: 120px;}
  .overview02_01_wrap {display: flex; align-items: flex-start; justify-content: space-between; gap: 0 26px;}
  .overview02_01_col {text-align: center; border-radius: 30px; padding: 28px 25px; width: 100%;}
  .overview02_01_col.blue {background-color: #e3ebf3;}
  .overview02_01_col.pink {background-color: #fdece0;}
  .overview02_01_col.green {background-color: #e4f3eb;}
  .overview02_01_col_title {font-weight: 700; font-size: 26px; line-height: 1.07; padding-bottom: 33px;}

  .overview02_01_col.blue .overview02_01_col_title {color: #395a7b;}
  .overview02_01_col.pink .overview02_01_col_title {color: #d66920;}
  .overview02_01_col.green .overview02_01_col_title {color: #407357;}

  .overview02_01_col_ul01 {margin: -6px 0;}
  .overview02_01_col_ul01 li {padding: 6px 0; position: relative;}
  .overview02_01_col_ul01 li::before {content: ''; display: block; position: absolute; width: 260%; height: 1px; border-radius: 0; border: none; background-color: #000; top: 50%; left: 0; transform: translateY(-50%);}
  .overview02_01_col_ul01 li.color01::before {background-color: #588fc4;}
  .overview02_01_col_ul01 li.color02::before {background-color: #2f6daa;}
  .overview02_01_col_ul01 li.color03::before {background-color: #40b3c1;}
  .overview02_01_col_ul01 li.color04::before {background-color: #58c4a7;}
  .overview02_01_col_ul01 li.color05::before {background-color: #85ca63;}
  .overview02_01_col_ul01 li.color01 .inner {background-color: #588fc4;}
  .overview02_01_col_ul01 li.color02 .inner {background-color: #2f6daa;}
  .overview02_01_col_ul01 li.color03 .inner {background-color: #40b3c1;}
  .overview02_01_col_ul01 li.color04 .inner {background-color: #58c4a7;}
  .overview02_01_col_ul01 li.color05 .inner {background-color: #85ca63;}
  .overview02_01_col_ul01 li .inner {border-radius: 30px; display: flex; align-items: center; width: 100%; height: 200px; position: relative; padding-left: 32px; box-shadow: 0 0 18px rgba(0,0,0,0.08);}
  .overview02_01_col_ul01 li .inner::before {content: attr(data-num); font-weight: 700; font-size: 100px; color: #fff; opacity: 0.05; position: absolute; bottom: -22px; right: 7px;}
  .overview02_01_col_ul01 li .inner .icon {width: 80px; height: 80px; border-radius: 50%; background-color: #fff; margin-right: 29px; display: flex; align-items: center; justify-content: center;}
  .overview02_01_col_ul01 li .inner .text {font-weight: 700; font-size: 30px; color: #fff; text-align: left;}
  .overview02_01_col_ul01 li .inner .text span {font-weight: 400; font-size: 18px;}

  .overview02_01_col_ul02 {margin: -6px 0;}
  .overview02_01_col_ul02 li {padding: 6px 0;}
  .overview02_01_col_ul02 li .inner {display: flex; flex-direction: column; height: 200px; width: 100%; border-radius: 30px; box-shadow: 0 0 18px rgba(0,0,0,0.08); border: 2px solid transparent; background-color: #fff; text-align: left; padding: 30px;}
  .overview02_01_col_ul02 li .inner .text_box {height: 50%; border-bottom: 1px solid #ddd;}
  .overview02_01_col_ul02 li .inner .text_box:first-child {}
  .overview02_01_col_ul02 li .inner .text_box:last-child {border-bottom: none; padding-top: 24px;}
  .overview02_01_col_ul02 li .inner .text_box .title {font-weight: 500; font-size: 18px; color: var(--black-color);}
  .overview02_01_col_ul02 li .inner .text_box .text {font-weight: 400; font-size: 16px; color: #666; padding-top: 4px;}

  .overview02_01_col_ul03 {margin: -6px 0;}
  .overview02_01_col_ul03 li {padding: 6px 0;}
  .overview02_01_col_ul03 li .inner {display: flex; flex-direction: column; height: 200px; width: 100%; border-radius: 30px; box-shadow: 0 0 18px rgba(0,0,0,0.08); border: 2px solid transparent; background-color: #fff; text-align: left;}
  .overview02_01_col_ul03 li .inner .text_list {height: 100%; padding: 24px 30px;}
  .overview02_01_col_ul03 li .inner .text_list.col-2 {}
  .overview02_01_col_ul03 li .inner .text_list.col-2 > * {height: 50%;}
  .overview02_01_col_ul03 li .inner .text_list.col-4 {}
  .overview02_01_col_ul03 li .inner .text_list.col-4 > * {height: 25%;}
  .overview02_01_col_ul03 li .inner .text_list_item {font-weight: 400; font-size: 16px; color: var(--black-color); line-height: 1.875; border-bottom: 1px solid #ddd; display: flex; align-items: center;}
  .overview02_01_col_ul03 li .inner .text_list_item:last-child {border-bottom: none;}

  li.color_line01 .inner {border-color: #7da5cc; position: relative;}
  li.color_line02 .inner {border-color: #2f6daa; position: relative;}
  li.color_line03 .inner {border-color: #40b3c1; position: relative;}
  li.color_line04 .inner {border-color: #58c4a7; position: relative;}
  li.color_line05 .inner {border-color: #85ca63; position: relative;}

  li.color_line01 .inner::before {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #7da5cc; position: absolute; top: 50%; left: -7px; transform: translateY(-50%);}
  li.color_line01 .inner::after {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #7da5cc; position: absolute; top: 50%; right: -7px; transform: translateY(-50%);}
  li.color_line02 .inner::before {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #2f6daa; position: absolute; top: 50%; left: -7px; transform: translateY(-50%);}
  li.color_line02 .inner::after {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #2f6daa; position: absolute; top: 50%; right: -7px; transform: translateY(-50%);}
  li.color_line03 .inner::before {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #40b3c1; position: absolute; top: 50%; left: -7px; transform: translateY(-50%);}
  li.color_line03 .inner::after {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #40b3c1; position: absolute; top: 50%; right: -7px; transform: translateY(-50%);}
  li.color_line04 .inner::before {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #58c4a7; position: absolute; top: 50%; left: -7px; transform: translateY(-50%);}
  li.color_line04 .inner::after {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #58c4a7; position: absolute; top: 50%; right: -7px; transform: translateY(-50%);}
  li.color_line05 .inner::before {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #85ca63; position: absolute; top: 50%; left: -7px; transform: translateY(-50%);}
  li.color_line05 .inner::after {content: ''; width: 12px; height: 12px; border-radius: 50%; border: 2px solid var(--white-color); background-color: #85ca63; position: absolute; top: 50%; right: -7px; transform: translateY(-50%);}

  .overview02_01_col_ul01 li .inner::before {display: none;}
  .overview02_01_col_ul03 li .inner::after {display: none;}

  .overview03_title:before {content: 'VISION'; font-weight: 900; font-size: 100px; color: #f7f7f7; position: absolute; bottom: -30px; right: 0;}

  .overview01_03_wrap {padding: 60px 0;}

  .overview03_01_ul {margin: -20.5px;}
  .overview03_01_ul li {padding: 20.5px;}
  .overview03_01_ul li .inner {display: flex; align-items: center; border-radius: 20px; border: 1px solid #eee; box-shadow: 0 0 18px rgba(0,0,0,0.08); height: 85px; padding-left: 34px;}
  .overview03_01_ul li .inner span {display: inline-block; vertical-align: middle; font-weight: 500; font-size: 18px; color: #333;}
  .overview03_01_ul li .inner .num {font-weight: 700; font-size: 18px; color: var(--main-color);}

  .overview03_02_wrap {position: relative;}
  .overview03_02_wrap::before {content: ''; width: 97%; height: 1px; background-color: var(--white-color); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
  .overview03_02_ul {text-align: center; position: relative;}
  .overview03_02_ul::before {content: ''; width: 15px; height: 15px; border-radius: 50%; border-radius: 50%; border: 3px solid var(--white-color); background-color: transparent; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
  .overview03_02_ul::after {content: ''; width: 15px; height: 15px; border-radius: 50%; border-radius: 50%; border: 3px solid var(--white-color); background-color: transparent; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
  .overview03_02_ul li {padding: 0 37.5px; position: relative; z-index: 1;}
  .overview03_02_ul li .inner {display: flex; align-items: center; justify-content: center; width: 220px; height: 220px; border-radius: 50%; border: 1px solid #fff;}
  .overview03_02_ul li .inner .round {display: flex; align-items: center; justify-content: center; background-color: var(--main-color); width: 190px; height: 190px; border-radius: 50%;}
  .overview03_02_ul li .inner .round p {font-weight: 500; font-size: 20px; color: var(--white-color); line-height: 1.7;}
  .overview03_02_ul li .inner .round p b {font-size: 26px;}

  .overview03_03_wrap {padding: 60px 0 117px;}
  .overview03_03_ul {margin: -7px;}
  .overview03_03_ul li {padding: 7px;}
  .overview03_03_ul li .inner {display: flex; flex-direction: column; height: 275px; border-radius: 20px; box-shadow: 0 0 18px rgba(0,0,0,0.08); padding: 20px 22px 32px;}
  .overview03_03_ul li .inner .title {width: 100%; border-radius: 30px; text-align: center; font-weight: 500; font-size: 20px; color: var(--white-color); padding: 18px 5px; margin-bottom: 26px;}
  .overview03_03_ul li:nth-child(1) .inner .title {background-color: #7da5cc;}
  .overview03_03_ul li:nth-child(2) .inner .title {background-color: #2f6daa;}
  .overview03_03_ul li:nth-child(3) .inner .title {background-color: #40b3c1;}
  .overview03_03_ul li:nth-child(4) .inner .title {background-color: #58c4a7;}
  .overview03_03_ul li:nth-child(5) .inner .title {background-color: #85ca63;}
  .overview03_03_ul li .inner .text_list {}
  .overview03_03_ul li .inner .text_list_item {border-bottom: 1px solid #ddd;}
  .overview03_03_ul li .inner .text_list_item:first-child {padding-bottom: 22px;}
  .overview03_03_ul li .inner .text_list_item:last-child {border-bottom: none; padding-top: 22px;}
  .overview03_03_ul li .inner .text_list_item .text01 {font-weight: 500; font-size: 18px; color: var(--black-color);}
  .overview03_03_ul li .inner .text_list_item .text02 {font-weight: 400; font-size: 16px; color: #666; padding-top: 6px;}

  .overview04_01_wrap {padding: 60px 0 80px;}
  .overview04_01_ul {margin: 0 -13px;}
  .overview04_01_ul > li {padding: 0 13px; vertical-align: top; position: relative;}
  .overview04_01_ul > li::before {content: ''; width: 40px; height: 40px; border-radius: 50%; background-color: #000; position: absolute; top: 25px; right: -23px; z-index: 1;}
  .overview04_01_ul > li:nth-child(1)::before {background: linear-gradient(to left,#85ca63,#40b3c1);}
  .overview04_01_ul > li:nth-child(2)::before {background: linear-gradient(to left,#40b3c1,#2f6daa);}
  .overview04_01_ul > li::after {content: ''; background: url('/source/img/icon-arr-right02.png') no-repeat center #fff; width: 36px; height: 36px; border-radius: 50%; position: absolute; top: 27px; right: -21px; z-index: 2;}
  .overview04_01_ul > li:last-child::before {display: none;}
  .overview04_01_ul > li:last-child::after {display: none;}
  .overview04_01_ul > li > .inner {border-radius: 30px; padding: 15px; height: 655px;}
  .overview04_01_ul > li:nth-child(1) > .inner {background-color: rgba(133,202,99,0.1);}
  .overview04_01_ul > li:nth-child(2) > .inner {background-color: rgba(64,179,193,0.1);}
  .overview04_01_ul > li:nth-child(3) > .inner {background-color: rgba(47,109,170,0.1);}
  .overview04_01_ul > li > .inner .level_title {display: flex; width: 100%; height: 60px; border-radius: 20px; align-items: center; justify-content: center; font-weight: 600; font-size: 22px; color: var(--white-color);}
  .overview04_01_ul > li:nth-child(1) > .inner .level_title {background-color: #85ca63;}
  .overview04_01_ul > li:nth-child(2) > .inner .level_title {background-color: #40b3c1;}
  .overview04_01_ul > li:nth-child(3) > .inner .level_title {background-color: #2f6daa;}
  .overview04_01_ul > li > .inner .expl_box {text-align: center; padding: 32px 0 23px;}
  .overview04_01_ul > li > .inner .expl_box .text01 {font-weight: 700; font-size: 24px; color: var(--black-color); line-height: 1.41; padding-bottom: 15px;}
  .overview04_01_ul > li > .inner .expl_box .text02 {font-weight: 500; font-size: 18px; color: #666; line-height: 1.333;}
  .overview04_01_ul > li > .inner .course_list {margin: -2.5px;}
  .overview04_01_ul > li > .inner .course_list li {padding: 2.5px;}
  .overview04_01_ul > li > .inner .course_list li .inner {border-radius: 20px; border: 1px solid #eee; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #fff; height: 95px;}
  .overview04_01_ul > li > .inner .course_list li .title {font-weight: 600; font-size: 18px; padding-bottom: 9px;}
  .overview04_01_ul > li > .inner .course_list.level01 li .title {color: #61a73f;}
  .overview04_01_ul > li > .inner .course_list.level02 li .title {color: #40b3c1;}
  .overview04_01_ul > li > .inner .course_list.level03 li .title {color: #2f6daa;}
  .overview04_01_ul > li > .inner .course_list li .text {font-weight: 400; font-size: 16px; color: #666;}
  .overview04_01_ul > li > .inner .last_box {display: flex; align-items: center; justify-content: center; border-radius: 20px; background-color: #2f6daa; margin-top: 5px; font-weight: 700; font-size: 20px; color: var(--white-color); height: 80px;}

  .overview04_02_wrap {}
  .overview04_02_box {}
  .overview04_02_ul {padding: 0 83px; margin: -44px -39px; background: url('/source/img/overview04_02_ul_line.png') no-repeat center;}
  .overview04_02_ul li {padding: 44px 39px;}
  .overview04_02_ul li .inner {border-radius: 20px; display: flex; width: 220px;  height: 190px; border: 1px solid var(--white-color); align-items: center; justify-content: center;}
  .overview04_02_ul li .inner .inner_box {display: flex; flex-direction: column; width: 200px; height: 170px; border-radius: 20px; background-color: var(--main-color); padding: 28px 10px 28px 30px;}
  .overview04_02_ul li.color02 .inner .inner_box {background-color: #1dd3b7;}
  .overview04_02_ul li.color03 .inner .inner_box {background-color: #23a8c5;}
  .overview04_02_ul li .inner .inner_box .year {font-weight: 700; font-size: 20px; color: var(--white-color); display: inline-block;}
  .overview04_02_ul li .inner .inner_box .year span {display: inline-block; border-bottom: 2px solid var(--white-color);}
  .overview04_02_ul li .inner .content {padding-top: 13px;}
  .overview04_02_ul li .inner .content_item {font-weight: 400; font-size: 16px; color: var(--white-color); line-height: 1.625;}
/* } 사업 개요 */

/* 세계 동향 { */
  .world_section {}
  .world_section.world01_bg {background: url('/source/img/world01-bg.png') no-repeat center/cover; padding: 60px 0;}
  .world_section.world01_gray {padding: 80px 0 60px; background-color: #fafafa;}
  .world_section.world02_02 {padding: 63px 0 65px; background-color: #fafafa;}
  .world_section.world02_03 {padding: 60px 0;}
  .world_section.world02_04 {padding: 100px 0 60px;}
  .world_section.world02_05 {padding: 60px 0 100px; background-color: #fafafa;}

  .world01_title::after {content: 'GLOBAL'; font-weight: 900; font-size: 100px; color: #f7f7f7; position: absolute; bottom: -30px; right: 0;}
  .world02_title::after {content: 'GERMANY'; font-weight: 900; font-size: 100px; color: #f7f7f7; position: absolute; bottom: -30px; right: 0;}
  .world01_title.uk::after {content: 'UK';}
  .world01_title.netherlands::after {content: 'NETHERLANDS';}
/* } 사업 개요 */

  .world01_01_wrap {padding: 60px 0 70px;}
  .world01_01_wrap .overview01_01_ul {padding-top: 0;}
  .world01_01_wrap .table_wrap {padding-top: 40px;}

  .table_wrap {}
  .table_wrap .table_caption {font-weight: 500; font-size: 12px; text-align: center; padding-bottom: 10px; display: none;}
  .table_wrap table {width: 100%;}
  .table_wrap table thead {}
  .table_wrap table thead tr {}
  .table_wrap table thead tr th {background-color: #777; border-right: 1px solid #ddd; font-weight: 500; font-size: 18px; color: var(--white-color); padding: 14.21px 0;}
  .table_wrap table thead tr th:last-child {border-right: none;}
  .table_wrap table thead tr th.gu {width: 106px;}
  .table_wrap table tbody {}
  .table_wrap table tbody tr {border-bottom: 1px solid #ddd;}
  .table_wrap table tbody tr th {}
  .table_wrap table tbody tr td {font-weight: 400; font-size: 18px; color: #666; line-height: 1.44; padding: 12px 22px; border-right: 1px solid #ddd;}
  .table_wrap table tbody tr td:last-child {border-right: none;}
  .table_wrap table tbody tr td.center {text-align: center;}
  .table_wrap table tbody tr td.bold {font-weight: 500; color: #333;}
  .table_wrap.col-5 table tbody tr td {width: calc((100% - 106px) / 4);}
  .table_wrap table tbody tr td.gu {text-align: center; width: 106px; font-weight: 500; color: #333;}

  .world01_02_wrap {position: relative;}
  .world01_02_wrap::before {content: ''; width: 97%; height: 1px; background-color: var(--white-color); position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
  .world01_02_ul {text-align: center; position: relative;}
  .world01_02_ul::before {content: ''; width: 15px; height: 15px; border-radius: 50%; border-radius: 50%; border: 3px solid var(--white-color); background-color: transparent; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
  .world01_02_ul::after {content: ''; width: 15px; height: 15px; border-radius: 50%; border-radius: 50%; border: 3px solid var(--white-color); background-color: transparent; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
  .world01_02_ul li {padding: 0 37.5px; position: relative; z-index: 1;}
  .world01_02_ul li .inner {display: flex; align-items: center; justify-content: center; width: 220px; height: 220px; border-radius: 50%; border: 1px solid #fff;}
  .world01_02_ul li .inner .round {display: flex; align-items: center; justify-content: center; background-color: var(--main-color); width: 190px; height: 190px; border-radius: 50%;}
  .world01_02_ul li .inner .round p {font-weight: 500; font-size: 20px; color: var(--white-color); line-height: 1.7;}
  .world01_02_ul li .inner .round p b {font-size: 26px;}

  .world01_03_wrap {margin: -10px;}
  .world01_03_wrap_item {vertical-align: top; padding: 10px;}
  .world01_03_graph_box {border-radius: 30px; background-color: #fff; box-shadow: 0 0 18px rgba(0,0,0,0.08);}
  .world01_03_source {font-weight: 400; font-size: 16px; color: #999; text-align: right; line-height: 1.375; padding-top: 9px;}

  .world01_04_wrap {padding: 72px 0 118px;}

  .world02_01_wrap {padding: 60px 0;}

  .world02_02_ul {margin: -10px;}
  .world02_02_ul li {padding: 10px;}
  .world02_02_ul li .inner {display: flex; flex-direction: column; height: 192px; border: 1px solid #eee; border-radius: 20px; box-shadow: 0 0 18px rgba(0,0,0,0.08); padding: 33px;}
  .world02_02_ul li .inner .title {font-weight: 700; font-size: 20px; color: #333;}
  .world02_02_ul li .inner .title .num {color: var(--main-color);}
  .world02_02_ul li .inner .content {font-weight: 400; font-size: 18px; color: #666; line-height: 1.444; padding-top: 10px;}

  .world02_04_wrap {margin: 0 -10px;}
  .world02_04_wrap_item {padding: 0 10px; vertical-align: top;}
  .world02_04_wrap_item > .inner {border: 1px solid #eee; border-radius: 20px; background-color: #fff; box-shadow: 0 0 18px rgba(0,0,0,0.08); overflow: hidden;}
  .world02_04_wrap_list {margin: -5px;}
  .world02_04_wrap_list li {padding: 5px;}
  .world02_04_wrap_list li .inner {border: 1px solid #eee; border-radius: 20px; box-shadow: 0 0 18px rgba(0,0,0,0.08); padding: 22px 23px 24px 25px;}
  .world02_04_wrap_list li .level_title {width: 100%; display: flex; height: 50px; align-items: center; border-radius: 25px; font-weight: 600; font-size: 20px; color: var(--white-color); background-color: #4478b2; padding: 0 27px;}
  .world02_04_wrap_list li:nth-child(1) .level_title {background-color: #4478b2;}
  .world02_04_wrap_list li:nth-child(2) .level_title {background-color: #3eb3b0;}
  .world02_04_wrap_list li:nth-child(3) .level_title {background-color: #ea9c41;}
  .world02_04_wrap_list li:nth-child(4) .level_title {background-color: #a85d3d;}
  .world02_04_wrap_list li .content {padding-left: 25px; padding-top: 14px;}
  .world02_04_wrap_list li .content_item {padding-bottom: 6px;}
  .world02_04_wrap_list li .content_item:last-child {padding-bottom: 0;}
  .world02_04_wrap_list li .content_item span {font-weight: 500; font-size: 18px;}
  .world02_04_wrap_list li .content_item span:last-child {margin-left: 9px;}
  .world02_04_source {font-weight: 400; font-size: 16px; color: #999; padding-top: 10px; text-align: right;}
  .world_images_source {font-weight: 400; font-size: 16px; color: #999; padding-top: 10px; text-align: right;}

  .flag_section {padding: 65px 0 105px; background: url('/source/img/flag-uk-bg.jpg') no-repeat center/cover;}
  .flag_section.gr {padding: 65px 0 105px; background: url('/source/img/flag-gr-bg.jpg') no-repeat center/cover;}
  .flag_section.uk {}
  .flag_section {padding: 65px 0 105px;}
  .flag_section.uk {background: url('/source/img/flag-uk-bg.jpg') no-repeat center/cover;}
  .flag_section.netherlands {background: url('/source/img/flag-netherlands-bg.jpg') no-repeat center/cover;}
  .flag_section .world01_01_wrap {padding: 0;}

  .world_bs-flag {margin-bottom: 20px; text-align: center;}
  .world_bs-tit {font-size: 38px; font-weight: 700; color: #fff; text-align: center;}
  .world_bs-detail {margin-top: 50px;}
  .world_bs-txtBox {overflow: hidden; border: 1px solid rgba(255,255,255,0.5); border-radius: 20px;}
  .world_bs-txtBox.white {border: 1px solid #eee; background-color: #fff;}
  .world_bs-txtInner {padding: 30px 35px;}
  .world_bs-txtBox:not(:first-child) {margin-top: 10px;}
  .world_bs-t0 {font-size: 16px; font-weight: 700; color: #bbb;}
  .world_bs-t1 {padding-left: 10px; text-indent: -10px; font-size: 20px; font-weight: 400; color: #333; line-height: 1.55;}
  .world_bs-t1 span {font-weight: 400; font-size: 18px; color: #666;}
  .world_bs-t1.white {color: #fff;}
  .world_bs-t1:before {content: ""; display: inline-block; width: 4px; height: 4px; margin: 14px 5px 0 0; border-radius: 50%; background-color: var(--main-color); vertical-align: top;}
  .world_bs-t2 {padding-left: 14px; text-indent: -14px; font-size: 18px; font-weight: 400; color: #666; line-height: 1.7;}
  .world_bs-t2.white {color: #fff;}
  .world_bs-t2:before {content: "-"; display: inline; margin-right: 4px; vertical-align: top;}
  .world_bs-t-big {font-size: 20px; font-weight: 700; color: #02be86;}
  .world_bs-t-big.white {color: #fff;}
  .world_bs-t-cBox {padding: 13px 35px; background-color: #02be86;}
  
  .world_images {display: flex; gap: 20px;}
  .world_images .box {padding: 15px; border: 1px solid #eee; border-radius: 20px; background-color: #fff; box-shadow: 0 0 18px rgba(0,0,0,0.08);}
  .world_images.child2 .box {width: calc((100% / 2) - (20px / 2));}
  .world_images .img-wr {text-align: center;}
  .world_images .subj {margin-top: 15px; font-size: 18px; font-weight: 400; color: #666; text-align: center;}

  .world02_05_wrap {margin: -20px 0;}
  .world02_05_item {padding: 20px 0;}
  .world02_05_item_title {font-weight: 700; font-size: 20px; padding-bottom: 15px;}
  .world02_05_item:nth-child(1) .world02_05_item_title {color: #4478b2;}
  .world02_05_item:nth-child(2) .world02_05_item_title {color: #3eb3b0;}
  .world02_05_item:nth-child(3) .world02_05_item_title {color: #ea9c41;}
  .world02_05_item:nth-child(4) .world02_05_item_title {color: #a85d3d;}

  .table_wrap.type02 {}
  .table_wrap.type02 table {border: 1px solid #ddd;}
  .table_wrap.type02 table tr {border-bottom: 1px solid #ddd;}
  .table_wrap.type02 table tr:last-child {border-bottom: none;}
  .table_wrap.type02 table tr th {width: 270px; font-weight: 500; font-size: 18px; color: var(--white-color); line-height: 1.555;}
  .table_wrap.type02 table tr td {font-weight: 400; font-size: 18px; line-height: 1.555; color: #666; padding: 19px 33px 22px;}
  .table_wrap.type02 table tr td span.yellow {font-weight: 500; font-size: 18px; color: #ea9c41; display: inline-block; margin-top: 6px;}
  .table_wrap.type02.blue table tr th {background-color: #4478b2;}
  .table_wrap.type02.sora table tr th {background-color: #3eb3b0;}
  .table_wrap.type02.yellow table tr th {background-color: #ea9c41;}
  .table_wrap.type02.brown table tr th {background-color: #a85d3d;}
/* } 세계 동향 */